
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=videokiss
Icon=video
Terminal=false
Name=Video Kiss
Comment=Automatic video maker
Comment[fr]=Montage vidéo automatique
Categories=Application;AudioVideo

